@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
    var message = @TempData["ProductError"] ?? "";
}

<div class="text-center">
    <h1>Products</h1>
    <h2 class="text-danger">@message</h2>
</div>

<div class="card-container row">
    @foreach(var product in Model) 
    {
        <div class="single-card card shadow m-2 text-center" style="width: 18rem; height:20rem">
                <h2>@product.ProductName</h2>
                <h3>$@product.ProductPrice</h3>
                <p style="height:12rem">@product.ProductDescription</p>
                <small>Product Code: @product.ProductCode</small>
            <small>Updated Date: @product.UpdatedDate.ToString("dd-MMM-yyyy hh:mm tt")</small>
                <div>
                    @Html.ActionLink("Comments", "CommentList", "Comment", new {id = product.ProductCode }, new {@class= "btn btn-primary m-2" })
                    @Html.ActionLink("Update", "Edit","Product", new{id = product.Id}, new{@class="btn btn-primary m-2"}) 
                </div>
                
        </div>
    }

</div>